# direnv
.envrc
# node
node_modules/
# bundled javascript
dist/
# packaged extension
*.vsix
# VS Code workspace-specific settings. launch.json and tasks.json are allowed
.vscode/
!.vscode/launch.json
!.vscode/tasks.json
